/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e9f0fb, #f4f4f9); /* Light blue → light gray */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Snackbar Overlay */
::ng-deep .mat-snack-bar-container {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10000; /* Adjust as needed */
}

/* Success Snackbar */
.success-snackbar {
  background-color: #43a047; /* Green */
  color: #ffffff; /* White */
}

/* Error Snackbar */
.error-snackbar {
  background-color: #d32f2f; /* Red */
  color: #ffffff; /* White */
}